@media (min-width: 601px) {
    .footer
    {
        background-color: #E22822;
        height: 12%;
    };

    .footer_title
    {
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 15px;
 
    };

    /*
    *Info
    */

    .footer_info
    {
        font-weight: bold;       
        display: flex;
        justify-content: space-evenly;
        color: white;
        margin-bottom: 30px;
    };

    .footer_tel
    {
    
    };

    .footer_horraire
    {

    };

    .footer_adresse
    {

    };

}