@media (max-width: 600px) {
    .footer
    {
        background-image: url(https://cdn.discordapp.com/attachments/778173311783403560/778207330377793536/pexels-fwstudio-163999.jpg);
        height: 12%;
        
    };

    .footer_title
    {
        font-weight: bold;
        color: white;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 15px;
 
    };

    /*
    *Info
    */

    .footer_info
    {
        font-weight: bold;       
        display: flex;
        justify-content: space-evenly;
        color: white;
        padding-bottom: 30px;
    };

    .footer_contact
    {
        display: grid;
        line-height: 1.5;
    };

    .footer_tel
    {
        width: 90%;
    };

    .footer_mail
    {
        width: 100%;
    };

    .footer_horraire
    {
        display: none;
    };

    .footer_adresse
    {
        display: none;
    };

    .footer_logo
    {
        display: none;
    }

    .mention_legal_link
    {
        font-size: 13px;
        padding-top: 6%;
    }
}