@media (min-width: 601px) {
    
    /*
    * Main
    */ 

    .contact
    {
        height: 100%;
        margin-bottom: 2%;
    };
    
    .contact_title
    {
        height: 20%;
        margin: 3%;
        font-weight: bold;
        font-size: 1.5rem;
    };

    .contact_main
    {
        display: flex;
        justify-content: space-evenly;
    };

    /*
    * Adress
    */
    .contact_adress
    {
        text-align: left;
        background-color: #4D6A79;
        width: 25%;
        height: 20%;
        line-height: 2;
        color: white;
        display: grid;
    };

    .adress_title
    {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 1rem;
    };

    .adress_text
    {
        padding: 0.5rem;
    };

    /*
    * Form
    */
    .contact_form
    {
        display: grid;
        background-color: #4D6A79;
        width: 30%;
        color: white;
    };

    .form_title
    {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 1rem;
    };

    .form_name
    {
        margin: 1rem;
        border: none;
        height: 45px;
    };

    .form_firstName
    {
        margin: 1rem;
        border: none;
        height: 45px;
    };   

    .inputMail
    {
        margin: 1rem;
        border: none;
        height: 45px;
    };

    .inputTel
    {
        margin: 1rem;
        border: none;
        height: 45px;
    };

    .introText
    {
        font-weight: bold;
        font-size: 1.2rem;
        margin: 1rem;
    };

    .text
    {
        margin: 1rem;
        resize: none;
        height: 135px;
        border-style: none;
    };

    /*
    * Button
    */

    .button1
    {
        outline:none;
        height: 40px;
        margin: 1rem;
        text-align: center;
        width: 130px;
        background: #fff;
        border: 1px solid ;
        color: #4D6A79;
        letter-spacing:1px;
        text-shadow:0;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
          color:white;
          background:  #4D6A79;
        }
      }
      
        
}