@media (min-width: 601px) {
.legal_title
{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 3%;
    color: #4d6a79;
};

.legal_fermotor
{
    width: 40%;
    line-height: 1.5;
    margin-left: 30%;
    padding-bottom: 2%;
};

.legal_conception_title
{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 2%;
    color: #4d6a79;
};

.legal_ul
{
    line-height: 1.5;
    color: #4D6A79;
    font-weight: bold;
};

.legal_hebergement
{
    padding: 1%;
};
}
